.animation-toggle-image-front {
    animation-name: toggle-image-front;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.animation-toggle-image-back {
    animation-name: toggle-image-back;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes toggle-image-front {
    0% {
        transform: rotate(180deg);
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}
@keyframes toggle-image-back {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(180deg);
        opacity: 0;
    }
}
