.hv-wrapper {
  display: flex;
  padding-top: 15px;
}

.hv-wrapper .hv-item {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.hv-wrapper .hv-item .hv-item-parent {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.hv-wrapper .hv-item .hv-item-parent:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 25px;
  bottom: 0;
  left: 50%;
  background-color: #180614;
  transform: translateY(100%);
}

.hv-wrapper .hv-item .hv-item-children {
  display: flex;
  justify-content: center;
}

.hv-wrapper .hv-item .hv-item-children .hv-item-child {
  padding: 0 15px;
  position: relative;
}

.hv-wrapper .hv-item .hv-item-children .hv-item-child:before,
.hv-wrapper .hv-item .hv-item-children .hv-item-child:not(:only-child):after {
  content: "";
  position: absolute;
  background-color: #180614;
  left: 0;
}

.hv-wrapper .hv-item .hv-item-children .hv-item-child:before {
  left: 50%;
  top: 0;
  transform: translateY(-100%);
  width: 2px;
  height: 25px;
}

.hv-wrapper .hv-item .hv-item-children .hv-item-child:after {
  top: -25px;
  transform: translateY(-100%);
  height: 2px;
  width: 100%;
}

.hv-wrapper .hv-item .hv-item-children .hv-item-child:first-child:after {
  left: 50%;
  width: 50%;
}

.hv-wrapper .hv-item .hv-item-children .hv-item-child:last-child:after {
  width: calc(50% + 1px);
}

.hv-item-image {
  width: 75px;
  margin: 5px 0;
}

.simple-card {
  display: inline-block;
  position: relative;
}
.simple-card > span {
  display: block;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 0;
  font-size: 1.2em;
}

.hv-hover-translate {
  transition: all 0.5s;
}
.hv-hover-translate:nth-child(1) {
  display: block !important;
}
.hv-hover-translate:nth-child(2) {
  display: none !important;
}
.simple-card:hover .hv-hover-translate:nth-child(1) {
  display: none !important;
}
.simple-card:hover .hv-hover-translate:nth-child(2) {
  display: block !important;
}

/* 冠位十二階の色 */
.kan-i-12-daitoku {
  background: radial-gradient(circle at left, #65318e 10%, transparent); /*紫*/
}
.kan-i-12-shotoku {
  background: radial-gradient(circle at left, #a59aca 10%, transparent); /*藤紫*/
}
.kan-i-12-dainin {
  background: radial-gradient(circle at left, #19448e 10%, transparent); /*瑠璃紺*/
}
.kan-i-12-shonin {
  background: radial-gradient(circle at left, #89c3eb 10%, transparent); /*勿忘草色*/
}
.kan-i-12-dairai {
  background: radial-gradient(circle at left, #ba2636 10%, transparent); /*朱*/
}
.kan-i-12-shorai {
  background: radial-gradient(circle at left, #ec6d71 10%, transparent); /*真朱*/
}
.kan-i-12-daishin {
  background: radial-gradient(circle at left, #d9a62e 10%, transparent); /*櫨染*/
}
.kan-i-12-shoshin {
  background: radial-gradient(circle at left, #fef263 10%, transparent); /*黄檗色*/
}
.kan-i-12-daigi {
  background: radial-gradient(circle at left, #ffffff 10%, transparent); /*白*/
}
.kan-i-12-shogi {
  background: radial-gradient(circle at left, #dcdddd 10%, transparent); /*白鼠*/
}
.kan-i-12-daichi {
  background: radial-gradient(circle at left, #000b00 10%, transparent); /*濡羽色*/
}
.kan-i-12-shochi {
  background: radial-gradient(circle at left, #474a4d 10%, transparent); /*藍墨茶*/
}
