body {
    margin: 0;
    overflow-x: hidden;
    font-family: "dnp-shuei-shogomincho-std", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #180614;
}

.page-header {
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 999;
}

.page-header .column {
    width: 66%;
}

.page-header nav .nav-list {
    display: flex;
    position: relative;
    justify-content: space-around;
    margin: 1em 0;
    background:
        radial-gradient(circle at left top, #eaf4fc 25px, transparent 25px),
        radial-gradient(circle at left bottom, #eaf4fc 25px, transparent 25px),
        radial-gradient(circle at right top, #eaf4fc 25px, transparent 25px),
        radial-gradient(circle at right bottom, #eaf4fc 25px, rgba(24, 6, 20, 0.8) 25px);
}

.page-header nav .nav-item {
    position: relative;
    margin: 0.5em 0;
}

.page-header nav .nav-link {
    display: block;
    position: relative;
    padding: 0.5em;
    font-size: 1.6em;
    text-align: center;
    transition: all 0.5s;
    color: #eaf4fc;
}

.main-bg {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #eaf4fc;
    grid-template-columns: 1fr 4fr 1fr;
    z-index: 1;
}

.bg-side-image-wrapper {
    position: relative;
    top: 50%;
    width: 125px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
}

.bg-side-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg-center-image-wrapper {
    position: relative;
    top: 50%;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
}

.bg-center-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-area {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.home-area-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
}

.home-area-title {
    font-size: 5em;
    font-family: "kokuryu", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.home-area-description {
    font-size: 2em;
}

main {
    position: relative;
    z-index: 99;
}

.section-about {
    width: 100%;
    min-height: 100vh;
}

.section-skills {
    width: 100%;
    min-height: 100vh;
}

.section-works {
    width: 100%;
    min-height: 100vh;
}

.section {
    padding: 4% 0;
}

.section-title {
    margin-bottom: 0.5rem;
    font-size: 4rem;
    font-family: "kokuryu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.about-description-wrapper {
    text-align: center;
    margin: 2rem 0 0 0;
}

.about-description {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    -ms-column-gap: 20px;
    column-gap: 20px;
    height: 400px;
}

.row {
    position: relative;
    margin: 0 auto;
}

.row-center {
    text-align: center;
}

.row-center .column {
    display: inline-block;
    float: none;
}

.column {
    position: relative;
    float: left;
    padding: 0 1rem;
}

.col-2 {
    width: 16.6666666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 66.6666666666%;
}

.col-9 {
    width: 75%;
}

.col-12 {
    width: 100%;
}

.vertical-text {
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    display: inline-block;
    text-align: left;
}

a {
    text-decoration: none;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

@media only screen and (min-width: 48em) {
    .column {
        padding: 0 15px;
    }
}